.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.navLink {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.activeLink {
  font-weight: bold;
  border-bottom: 2px solid #000;
}
